<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <%= require("html-loader!../common/banner/index.html") %>
  <section class="nav-container max-center">
    <ul class="nav-list">
      <li class="nav-item wow fadeInRight on">
        <a href="">Portable Power Station</a>
      </li>
      <li class="nav-item wow fadeInRight">
        <a href="">Portable Solar Panels</a>
      </li>
      <li class="nav-item wow fadeInRight">
        <a href="">Solar Generator Kit</a>
      </li>
    </ul>
  </section>
  <section class="product-container max-center">
    <ul class="product-list">
      <li class="product-item wow fadeInUp">
        <div class="img">
          <img src="/public/images/manuals/manuals.jpg" alt="">
        </div>
        <div class="text">
          <div class="title">AC500</div>
          <div class="cont">
            <p>· Run On a 5,000W Inverter</p>
            <p>· Responsive on Chily Days</p>
            <p>· 100% Modular,too</p>
            <p>· 24/7 UPS</p>
          </div>
          <a href="" class="btn btn-manual">User Manual ></a>
          <a href="" class="btn btn-connect">How To Connect ></a>
        </div>
      </li>
      <li class="product-item wow fadeInUp">
        <div class="img">
          <img src="/public/images/manuals/manuals.jpg" alt="">
        </div>
        <div class="text">
          <div class="title">AC500</div>
          <div class="cont">
            <p>· Run On a 5,000W Inverter</p>
            <p>· Responsive on Chily Days</p>
            <p>· 100% Modular,too</p>
            <p>· 24/7 UPS</p>
          </div>
          <a href="" class="btn btn-manual">User Manual ></a>
          <a href="" class="btn btn-connect">How To Connect ></a>
        </div>
      </li>
      <li class="product-item wow fadeInUp">
        <div class="img">
          <img src="/public/images/manuals/manuals.jpg" alt="">
        </div>
        <div class="text">
          <div class="title">AC500</div>
          <div class="cont">
            <p>· Run On a 5,000W Inverter</p>
            <p>· Responsive on Chily Days</p>
            <p>· 100% Modular,too</p>
            <p>· 24/7 UPS</p>
          </div>
          <a href="" class="btn btn-manual">User Manual ></a>
          <a href="" class="btn btn-connect">How To Connect ></a>
        </div>
      </li>
      <li class="product-item wow fadeInUp">
        <div class="img">
          <img src="/public/images/manuals/manuals.jpg" alt="">
        </div>
        <div class="text">
          <div class="title">AC500</div>
          <div class="cont">
            <p>· Run On a 5,000W Inverter</p>
            <p>· Responsive on Chily Days</p>
            <p>· 100% Modular,too</p>
            <p>· 24/7 UPS</p>
          </div>
          <a href="" class="btn btn-manual">User Manual ></a>
          <a href="" class="btn btn-connect">How To Connect ></a>
        </div>
      </li>
      <li class="product-item wow fadeInUp">
        <div class="img">
          <img src="/public/images/manuals/manuals.jpg" alt="">
        </div>
        <div class="text">
          <div class="title">AC500</div>
          <div class="cont">
            <p>· Run On a 5,000W Inverter</p>
            <p>· Responsive on Chily Days</p>
            <p>· 100% Modular,too</p>
            <p>· 24/7 UPS</p>
          </div>
          <a href="" class="btn btn-manual">User Manual ></a>
          <a href="" class="btn btn-connect">How To Connect ></a>
        </div>
      </li>
      <li class="product-item wow fadeInUp">
        <div class="img">
          <img src="/public/images/manuals/manuals.jpg" alt="">
        </div>
        <div class="text">
          <div class="title">AC500</div>
          <div class="cont">
            <p>· Run On a 5,000W Inverter</p>
            <p>· Responsive on Chily Days</p>
            <p>· 100% Modular,too</p>
            <p>· 24/7 UPS</p>
          </div>
          <a href="" class="btn btn-manual">User Manual ></a>
          <a href="" class="btn btn-connect">How To Connect ></a>
        </div>
      </li>
      <li class="product-item wow fadeInUp">
        <div class="img">
          <img src="/public/images/manuals/manuals.jpg" alt="">
        </div>
        <div class="text">
          <div class="title">AC500</div>
          <div class="cont">
            <p>· Run On a 5,000W Inverter</p>
            <p>· Responsive on Chily Days</p>
            <p>· 100% Modular,too</p>
            <p>· 24/7 UPS</p>
          </div>
          <a href="" class="btn btn-manual">User Manual ></a>
          <a href="" class="btn btn-connect">How To Connect ></a>
        </div>
      </li>
      <li class="product-item wow fadeInUp">
        <div class="img">
          <img src="/public/images/manuals/manuals.jpg" alt="">
        </div>
        <div class="text">
          <div class="title">AC500</div>
          <div class="cont">
            <p>· Run On a 5,000W Inverter</p>
            <p>· Responsive on Chily Days</p>
            <p>· 100% Modular,too</p>
            <p>· 24/7 UPS</p>
          </div>
          <a href="" class="btn btn-manual">User Manual ></a>
          <a href="" class="btn btn-connect">How To Connect ></a>
        </div>
      </li>
      <li class="product-item wow fadeInUp">
        <div class="img">
          <img src="/public/images/manuals/manuals.jpg" alt="">
        </div>
        <div class="text">
          <div class="title">AC500</div>
          <div class="cont">
            <p>· Run On a 5,000W Inverter</p>
            <p>· Responsive on Chily Days</p>
            <p>· 100% Modular,too</p>
            <p>· 24/7 UPS</p>
          </div>
          <a href="" class="btn btn-manual">User Manual ></a>
          <a href="" class="btn btn-connect">How To Connect ></a>
        </div>
      </li>
      <li class="product-item wow fadeInUp">
        <div class="img">
          <img src="/public/images/manuals/manuals.jpg" alt="">
        </div>
        <div class="text">
          <div class="title">AC500</div>
          <div class="cont">
            <p>· Run On a 5,000W Inverter</p>
            <p>· Responsive on Chily Days</p>
            <p>· 100% Modular,too</p>
            <p>· 24/7 UPS</p>
          </div>
          <a href="" class="btn btn-manual">User Manual ></a>
          <a href="" class="btn btn-connect">How To Connect ></a>
        </div>
      </li>

    </ul>
  </section>
  <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>