<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <section class="head-product-container max-center">
    <div class="left-layout">
      <div class="swiper-container product-swiper">
        <ul class="swiper-wrapper product-list">
          <li class="swiper-slide product-item">
            <img src="/public/images/manuals/manuals.jpg" alt="">
          </li>
          <li class="swiper-slide product-item">
            <img src="/public/images/manuals/manuals.jpg" alt="">
          </li>
          <li class="swiper-slide product-item">
            <img src="/public/images/manuals/manuals.jpg" alt="">
          </li>
          <li class="swiper-slide product-item">
            <img src="/public/images/manuals/manuals.jpg" alt="">
          </li>
          <li class="swiper-slide product-item">
            <img src="/public/images/manuals/manuals.jpg" alt="">
          </li>
          <li class="swiper-slide product-item">
            <img src="/public/images/manuals/manuals.jpg" alt="">
          </li>
          <li class="swiper-slide product-item">
            <img src="/public/images/manuals/manuals.jpg" alt="">
          </li>
          <li class="swiper-slide product-item">
            <img src="/public/images/manuals/manuals.jpg" alt="">
          </li>
        </ul>
      </div>
      <div class="product-bottom">
        <div class="swiper-container thumb-swiper">
          <ul class="swiper-wrapper thumb-list">
            <li class="swiper-slide thumb-item">
              <img src="/public/images/manuals/manuals.jpg" alt="">
            </li>
            <li class="swiper-slide thumb-item">
              <img src="/public/images/manuals/manuals.jpg" alt="">
            </li>
            <li class="swiper-slide thumb-item">
              <img src="/public/images/manuals/manuals.jpg" alt="">
            </li>
            <li class="swiper-slide thumb-item">
              <img src="/public/images/manuals/manuals.jpg" alt="">
            </li>
            <li class="swiper-slide thumb-item">
              <img src="/public/images/manuals/manuals.jpg" alt="">
            </li>
            <li class="swiper-slide thumb-item">
              <img src="/public/images/manuals/manuals.jpg" alt="">
            </li>
            <li class="swiper-slide thumb-item">
              <img src="/public/images/manuals/manuals.jpg" alt="">
            </li>
            <li class="swiper-slide thumb-item">
              <img src="/public/images/manuals/manuals.jpg" alt="">
            </li>
          </ul>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

    </div>
    <div class="right-layout">
      <div class="title">
        BLUETTI EB3A Portable Power Station | 600W 268Wh
      </div>
      <div class="hr"></div>
      <div class="cont">
        <p>600W AC Pure Sine Wave Inverter(1,200W surge)</p>
        <p>268Wh Capacity;</p>
        <p>430W Max. Fast Dual Charging(Solar+AC);</p>
        <p>LifePO4 Battert with 2,500 + Life Cycles to 80%;</p>
        <p>6Ways to Recharge(AC/Solar/Car/Generator/AC+Solar/AC+Adapter);</p>
        <p>9 Outputs for Charging Multiple Devices at once;</p>
        <p>Smart Control & Monitor in BLUETTI App;</p>
        <p>200W Max.Solar Input;</p>
        <p>Easy to Carry/Fast Charging/ Safe & Reliable/ Cost-effective</p>
        <p>24/7 UPS</p>
      </div>
      <div class="hr"></div>
      <div class="btns">
        <a href="" class="btn">BUTTON</a>
        <a href="" class="btn on">DOWNLOAD</a>
      </div>
      <div class="img">
        <img src="/public/images/banner-faqs.jpg" alt="">
      </div>
    </div>
  </section>
  <section class="content-container max-center">
    <ul class="tab-list">
      <li class="tab-item on">Product Details</li>
      <li class="tab-item">Specs</li>
      <li class="tab-item">FAQs</li>
    </ul>
    <ul class="cont-list">
      <li class="cont-item on">
        <div class="content">Product DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct DetailsProduct Details</div>
      </li>
      <li class="cont-item">
        <div class="content">
          <p style="white-space: wrap;">
            specs
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. In magni eaque libero expedita! Quam dolores, laudantium debitis id impedit facere eaque accusamus reiciendis incidunt cupiditate a soluta cumque minus consequuntur.</p>
          <p style="white-space: wrap;">
            specs
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. In magni eaque libero expedita! Quam dolores, laudantium debitis id impedit facere eaque accusamus reiciendis incidunt cupiditate a soluta cumque minus consequuntur.</p>
          <p style="white-space: wrap;">
            specs
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. In magni eaque libero expedita! Quam dolores, laudantium debitis id impedit facere eaque accusamus reiciendis incidunt cupiditate a soluta cumque minus consequuntur.</p>
        </div>
      </li>
      <li class="cont-item">
        <div class="content">
          <p>FAQs Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, illum possimus accusantium iure pariatur voluptas soluta voluptatem, suscipit cum, deleniti laboriosam tempore. Accusamus animi voluptatem quod mollitia nobis nisi molestias!</p>
          <p>FAQs Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, illum possimus accusantium iure pariatur voluptas soluta voluptatem, suscipit cum, deleniti laboriosam tempore. Accusamus animi voluptatem quod mollitia nobis nisi molestias!</p>
          <p>FAQs Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, illum possimus accusantium iure pariatur voluptas soluta voluptatem, suscipit cum, deleniti laboriosam tempore. Accusamus animi voluptatem quod mollitia nobis nisi molestias!</p>
          <p>FAQs Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, illum possimus accusantium iure pariatur voluptas soluta voluptatem, suscipit cum, deleniti laboriosam tempore. Accusamus animi voluptatem quod mollitia nobis nisi molestias!</p>
        </div>
      </li>
    </ul>
  </section>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>