<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <%= require("html-loader!../common/banner/index.html") %>
  <main class="main-container max-center">
    <h1 class="page-title">FAQs</h1>
    <div class="main-box">
      <aside class="nav-list wow fadeInLeft">
        <a href="" class="nav-item on">GENERAL FAQS</a>
        <a href="" class="nav-item">PRODUCT FAQS</a>
        <a href="" class="nav-item">SALES FAQS</a>
      </aside>
      <ul class="faq-list wow fadeInRight">
        <li class="faq-item">
          <div class="q">
            Q: The advantages of lithium power station cpm[ared with gasoline generator?
          </div>
          <div class="cont">
            A: The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?
          </div>
        </li>
        <li class="faq-item">
          <div class="q">
            Q: The advantages of lithium power station cpm[ared with gasoline generator?
          </div>
          <div class="cont">
            A: The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?
          </div>
        </li>
        <li class="faq-item">
          <div class="q">
            Q: The advantages of lithium power station cpm[ared with gasoline generator?
          </div>
          <div class="cont">
            A: The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?
          </div>
        </li>
        <li class="faq-item">
          <div class="q">
            Q: The advantages of lithium power station cpm[ared with gasoline generator?
          </div>
          <div class="cont">
            A: The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?
          </div>
        </li>
        <li class="faq-item">
          <div class="q">
            Q: The advantages of lithium power station cpm[ared with gasoline generator?
          </div>
          <div class="cont">
            A: The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?
          </div>
        </li>
        <li class="faq-item">
          <div class="q">
            Q: The advantages of lithium power station cpm[ared with gasoline generator?
          </div>
          <div class="cont">
            A: The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?The advantages of lithium power station cpm[ared with gasoline generator?
          </div>
        </li>
      </ul>
    </div>
  </main>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>