<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <%= require("html-loader!../common/banner/index.html") %>
      <section class="nav-container max-center">
        <ul class="nav-list">
          <li class="nav-item wow fadeInRight on">
            <a href="product_list.html">Portable Power Station</a>
          </li>
          <li class="nav-item wow fadeInRight">
            <a href="product_list.html">Portable Solar Panels</a>
          </li>
          <li class="nav-item wow fadeInRight">
            <a href="product_list.html">Solar Generator Kit</a>
          </li>
        </ul>
      </section>
      <main class="main-container">
        <div class="product-recommend max-center">
          <div class="text wow fadeInLeft">
            <div class="title">
              BLUETTI EB3A Portable Power Station | 600W 268Wh
            </div>
            <div class="desc">
              From <span>US$239.00</span>
              <s>US$299.00</s>
            </div>
            <div class="btns">
              <a href="" class="btn">BUY NOW</a>
              <a href="" class="btn on">QUICK LOOK</a>
            </div>
          </div>
          <div class="img wow fadeInRight">
            <img src="/public/images/manuals/manuals.jpg" alt="">
          </div>
        </div>
        <ul class="product-list max-center">
          <li class="product-item wow fadeInUp">
            <a href="product_view.html">
              <div class="img">
                <img src="/public/images/manuals/manuals.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">BLUETTI EB3A Portable Power Station | 600W 268Wh</div>
                <div class="desc">
                  From <span>US$239.00</span>
                  <s>US$299.00</s>
                </div>
              </div>
            </a>
          </li>
          <li class="product-item wow fadeInUp">
            <a href="product_view.html">
              <div class="img">
                <img src="/public/images/manuals/manuals.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">BLUETTI EB3A Portable Power Station | 600W 268Wh</div>
                <div class="desc">
                  From <span>US$239.00</span>
                  <s>US$299.00</s>
                </div>
              </div>
            </a>
          </li>
          <li class="product-item wow fadeInUp">
            <a href="product_view.html">
              <div class="img">
                <img src="/public/images/manuals/manuals.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">BLUETTI EB3A Portable Power Station | 600W 268Wh</div>
                <div class="desc">
                  From <span>US$239.00</span>
                  <s>US$299.00</s>
                </div>
              </div>
            </a>
          </li>
          <li class="product-item wow fadeInUp">
            <a href="product_view.html">
              <div class="img">
                <img src="/public/images/manuals/manuals.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">BLUETTI EB3A Portable Power Station | 600W 268Wh</div>
                <div class="desc">
                  From <span>US$239.00</span>
                  <s>US$299.00</s>
                </div>
              </div>
            </a>
          </li>
          <li class="product-item wow fadeInUp">
            <a href="product_view.html">
              <div class="img">
                <img src="/public/images/manuals/manuals.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">BLUETTI EB3A Portable Power Station | 600W 268Wh</div>
                <div class="desc">
                  From <span>US$239.00</span>
                  <s>US$299.00</s>
                </div>
              </div>
            </a>
          </li>
          <li class="product-item wow fadeInUp">
            <a href="product_view.html">
              <div class="img">
                <img src="/public/images/manuals/manuals.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">BLUETTI EB3A Portable Power Station | 600W 268Wh</div>
                <div class="desc">
                  From <span>US$239.00</span>
                  <s>US$299.00</s>
                </div>
              </div>
            </a>
          </li>
          <li class="product-item wow fadeInUp">
            <a href="product_view.html">
              <div class="img">
                <img src="/public/images/manuals/manuals.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">BLUETTI EB3A Portable Power Station | 600W 268Wh</div>
                <div class="desc">
                  From <span>US$239.00</span>
                  <s>US$299.00</s>
                </div>
              </div>
            </a>
          </li>
          <li class="product-item wow fadeInUp">
            <a href="product_view.html">
              <div class="img">
                <img src="/public/images/manuals/manuals.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">BLUETTI EB3A Portable Power Station | 600W 268Wh</div>
                <div class="desc">
                  From <span>US$239.00</span>
                  <s>US$299.00</s>
                </div>
              </div>
            </a>
          </li>
          <li class="product-item wow fadeInUp">
            <a href="product_view.html">
              <div class="img">
                <img src="/public/images/manuals/manuals.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">BLUETTI EB3A Portable Power Station | 600W 268Wh</div>
                <div class="desc">
                  From <span>US$239.00</span>
                  <s>US$299.00</s>
                </div>
              </div>
            </a>
          </li>
          <li class="product-item wow fadeInUp">
            <a href="product_view.html">
              <div class="img">
                <img src="/public/images/manuals/manuals.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">BLUETTI EB3A Portable Power Station | 600W 268Wh</div>
                <div class="desc">
                  From <span>US$239.00</span>
                  <s>US$299.00</s>
                </div>
              </div>
            </a>
          </li>
          <li class="product-item wow fadeInUp">
            <a href="product_view.html">
              <div class="img">
                <img src="/public/images/manuals/manuals.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">BLUETTI EB3A Portable Power Station | 600W 268Wh</div>
                <div class="desc">
                  From <span>US$239.00</span>
                  <s>US$299.00</s>
                </div>
              </div>
            </a>
          </li>
          <li class="product-item wow fadeInUp">
            <a href="product_view.html">
              <div class="img">
                <img src="/public/images/manuals/manuals.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">BLUETTI EB3A Portable Power Station | 600W 268Wh</div>
                <div class="desc">
                  From <span>US$239.00</span>
                  <s>US$299.00</s>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </main>
      <!-- 引入公共页尾 -->
      <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>